# python
venv/
__pycache__/
*.pyc
*.pyo

# node
node_modules/
dist/
build/

# env & secrets
.env

# OS
.DS_Store

# FAISS & DB (ignore heavy/unnecessary files)
backend/faiss_index.bin
backend/faiss_index_metadata.pkl
backend/resume_matcher.db
